/* ---- VARIABLES ---- */

// text color 
$primary-color: #000000;
$secondary-color: #FFFFFF;
$tertiary-color: #FBFBFC;
$fourth-color: #40C4FF;
$fifth-color: #A6A6A6;
$sixth-color: #898989;

// background colors 
$bg-button-primary: #40C4FF;
$bg-primary: #F2F8FC;


// borders colors
$primary-bd-color: #EBEBEB;
$secondary-bd-color: #E5E5E5;