/* ---- VARIABLES ---- */

// text color 
$primary-color: #000000;
$secondary-color: #FFFFFF;
$tertiary-color: #FBFBFC;
$fourth-color: #40C4FF;
$fifth-color: #A6A6A6;
$sixth-color: #898989;
$seventh-color: #545454;
$eighth-color: #CECECE;

// background colors 
$bg-button-primary: #40C4FF;
$bg-primary: #F2F8FC;
$bg-secondary: #FFFFFF;
$bg-notify-primary: #FFD740;


// borders colors
$primary-bd-color: #EBEBEB;
$secondary-bd-color: #E5E5E5;
$tertiary-bd-color: #F2F2F2;
$fourth-bd-color: #D6F2FF;